---
import Section from "@/components/Section.astro"
import World from "@/icons/World.astro"
import Mail from "@/icons/Mail.astro"
import Phone from "@/icons/Phone.astro"
import Github from "@/icons/Github.astro"
import Linkedin from "@/icons/Linkedin.astro"
import type { CV } from "@/types.ts"
interface Props {
  cv: CV
}

const { cv: { basics } } = Astro.props

const { name, label, image, location, profiles, phone, email} = basics
const { city, country } = location

const SOCIAL_ICONS: Record<string, any> = { Github, Linkedin }
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h2>{label}</h2>
      <span>
        <World />
        {city}, {country}
      </span>
      <footer>
        <div class="print">
          <p>• <span>{email}</span></p>
          <p>• <span>{phone}</span></p>
          <p>• <span>{profiles[0].url}</span></p>
        </div>
        {email && (
          <a
            href={`mailto:${email}`}
            title={`Enviar mensaje a ${name} al correo ${email}`}
            target="_blank"
            rel="noopener noreferrer"
          ><Mail /></a>
        )}
        {phone && (
          <a
            href={`tel:${email}`}
            title={`Laamar a ${name}`}
            target="_blank"
            rel="noopener noreferrer"
          ><Phone /></a>
        )}
        {profiles.map(({ network, url }) => {
          const Icon = SOCIAL_ICONS[network]
          return (
            <a
              href={url}
              title={`Perfil de ${name} en ${network}`}
              target="_blank"
              rel="noopener noreferrer"
            ><Icon /></a>
          )
        })}
      </footer>
    </div>

    <figure>
      <img src={image} alt={name} />
    </figure>
  </div>

  <div class="mobile">
    <h1>{name}</h1>

    <div class="row">
      <div class="info">
        <h2>{label}</h2>
        <span>
          <World />
          {city}, {country}
        </span>
        <footer>
          <div class="print">
            <p>• <span>{email}</span></p>
            <p>• <span>{phone}</span></p>
            <p>• <span>{profiles[0].url}</span></p>
          </div>
          {email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar mensaje a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            ><Mail /></a>
          )}
          {phone && (
            <a
              href={`tel:${email}`}
              title={`Laamar a ${name}`}
              target="_blank"
              rel="noopener noreferrer"
            ><Phone /></a>
          )}
          {profiles.map(({ network, url }) => {
            const Icon = SOCIAL_ICONS[network]
            return (
              <a
                href={url}
                title={`Perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              ><Icon /></a>
            )
          })}
        </footer>
      </div>
  
      <figure>
        <img src={image} alt={name} />
      </figure>
    </div>
  </div>
</Section>


<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem
  }
  .mobile {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem
  }

  .row {
    display: flex;
    flex-direction: row;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }

  .mobile .info {
    padding-right: 0.2rem;
  }
  .mobile img {
    width: 90px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    color: #444;
    font-weight: 500;
    font-size: 1.1rem;
    text-wrap: balance;
  }
  .mobile h1 {
    max-width: 80%;
  }
  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 128px;
    border-radius: 8px;
  }
  span {
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1rem;
    letter-spacing: -0.05rem;
  }
  footer {
    display: flex;
    gap: 10px;
    margin-top: 8px;
  }
  footer a {
    width: 32px;
    height: 32px;
    color: #777;
    border: 1px solid #999;
    border-radius: 8px;
    padding: 4px;
    transition: all 0.3s ease;
  }
  footer a:hover {
    background: #dddddd;
  }

  .print {
    display: none;
    flex-direction: column;
    gap: 3px;
  }

  @media print {
    .container { display: flex; }
    .mobile { display: none; }
    .print {
      display: flex;
    }
    .print p {
      max-height: 26px;
      display: flex;
      align-items: center;
      color: #777;
    }
    .print span {
      margin-left: 5px;
    }
    footer {
      margin-top: 0;
    }
    footer a {
      display: none;
    }
  }

  @media only screen and (max-width: 700px) {
    .container { display: none; }
    .mobile { display: flex; }
  }


</style>