---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/sections/Hero.astro'
import About from '@/components/sections/About.astro'
import Experience from '@/components/sections/Experience.astro'
import Education from '@/components/sections/Education.astro'
import Skilss from '@/components/sections/Skills.astro'
import Projects from '@/components/sections/Projects.astro'
import KeyboardManager from '@/components/KeyboardManager.astro'

import cv from "../../cv.json"
---

<Layout title="Ruben E Acosta">
  <main>
    <Hero cv={cv} />
    <About cv={cv} />
    <Experience cv={cv} />
    <Education cv={cv} />
    <Skilss cv={cv} />
    <Projects cv={cv} />
  </main>
  <KeyboardManager cv={cv} />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
  @media only screen and (max-width: 700px) {
    main {
      padding: 2rem;
    }
  }
  @media print {
    main {
      padding: 0 2rem;
    }
  }
</style>
